.App {
  text-align: center;
  background-color: #f1f1f1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



/*
new style starts
*/
body, html{
box-sizing: border-box;
}
.cate-list {
  width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  
}
.cate-list .item{
  width:50%;
  box-sizing: border-box;
  list-style: none;
  padding:10px;
  background-color: #f5f5f5;

}
.cate-list .item span{
  display: block;
}
.cate-list li{
  float: left;
  margin-bottom: 15px;
}
footer{
  clear: both;
}
.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
li img{
  width:auto;
  height: 150px;
}
.header{
  /* margin-bottom:30px; */
}
button a{
color :white;
}
button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;
}
.logo img{
  height:90px;
  width:auto;
}
.logo, .buttons-wrap{
display: inline-block;
}
.buttons-wrap {
  vertical-align: bottom;
  margin-left: 30px;
}
.header-wrap{
  text-align: left;
}
.header .tab-h{

}
.header-container {
  padding: 10px;
}
.product{
  box-sizing: border-box;
}
.product img{
  height:auto;
  width:80%;
}
.preview{
  overflow: hidden;
}
.product .preview, .product .description{
width:50%;
display: inline-block;
vertical-align: top;
}
.product .description{
  text-align: left;
}
.product .description div{ 
  padding:5px;
}
.product span{
display: block;
padding:5px;
margin:5px;
padding-left: 20px;
}
.tab {
  float: left;
  width: 50%;
}
.filters-sub{
  text-align: left;
  box-sizing: border-box;
}
.filters-sub label{
margin-bottom:8px;
}
.filter-area{
  padding:10px;
}
.filter-area input{
  margin:3px;
  width:65%;

}
.cartList{
  border: 1px solid #a7a7a7;
  padding: 25px;
}
.cartList figure{
  margin-bottom:10px;
}
.connectToSeller {
  margin: 0;
  padding: 17px;
}
.textarea{
  height: 50px;
}
.seler-information{
  border: 1px solid #a7a7a7;
  padding:30px;
  text-align: left;
  font-size: 17px;
}
.categories-header{
  padding: 10px;
  display: block;
  background-color: #00afef;
  margin-block-end: 10px;
  color: white;
}
header .buttons-wrap button {
  padding:0;

}
.header .buttons-wrap  a{
  padding: 15px 32px;
}
.app-container{
 
}
.footer .container{
  margin-top:100px;
  background-color: #c5c5c5;
  padding:20px;
}
.filterTab{
  width:30%;
  float:left;
  border:1px solid #d0d0d0
}
.product-items{
  float:left;
  width:70%;
}
.pricefilterButton{
  float:right;
  float: right;
  width: 23%;
  padding:5px 0;
}
.priceFilterLabel{
  display: block;
}
.manufacturor{
  width:50%;
  float:left;
}
.manufacturor-filter-select{
  width:50%;
  float:left;
  padding:3px;
}
.filter-check-label{
  width:50%;
  float:left;
}
.filter-check-value{
  width:50%;
  float:left;
}
.filter-check-value label{
  display: block;
}
.filter-check-value input{
width:auto;
}
.cate-list .item a{
  display: block;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 1px 4px #5f5f5f;
  padding:30px 0;
}
.product-wrapper{
  border:1px solid #dcdcdc;
  padding:10px;
}
.product-info-wrap{
  box-sizing: border-box;
  padding:10px;
}
.product-title{
  color: #00afef
}
.description label{
  display: block;
  color:black;
}
.product-Description{
  margin-top:10px;
}
.product-Description{
  font-size: 15px;
  margin-bottom: 3px;
  line-height: 20px;
}
.technical-spec{
  margin-bottom:10px;
}
.technicalDesc li{
  font-size: 15px;
  margin-bottom: 3px;
  line-height: 20px;
}
.productbar span{
  margin: 17px 0;
  padding:0;
  
}
.add-to-cart{
  float: right;
  width: 50%;
}
.chat-title{

}
.connectToSeller form{
  margin-top: 13px;
  display: block;
}
.connectToSeller .textarea{
  width:96%;
  padding:10px;
margin-bottom: 10px;
}
.saler-login{
  width:48%;
  padding:7px;
  margin:0;
  float:left;
}
.message-submit{
  width:48%;
  padding:7px;
  margin:0;
  float:right;
}
.seler-title{
  margin-bottom:10px;
}
.cart-header{
  margin-bottom: 15px;
}
.link-to-checkout{
  margin-top:20px;
}
.cartList h2{
 padding-bottom:15px;
}
.ckec-items{
  margin:20px 0;
}